header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
}
.logoNav{
    margin-left: 5%;
    width: 12%;
}
.menu nav{
    flex-direction: flex-end;
}
.menu nav ul li{
    padding: 25px 50px;
    margin-right: 10px;
    float: left;    
}
.menu nav ul li:hover{
    background-color: #00008B;
    cursor: pointer;
    border-radius: 5px;
}
.menu nav ul li a{
    font-size: 17px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.contenido1{
    margin-top:12%;
    text-align: center;
}
.contenido1 p,.ruta p{
    font-size: 30px;
}
.qr img{
    width: 30%;
}
#ruta{
    scroll-margin-top: 110px;
}
.ruta{
    
    display: block;
    background: green;
    color: white;
    text-align: center;
    padding: 35px;
}
.ruta p{
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}
.ruta img{
    width: 15px;
}
.ruta iframe{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nosotros h1{
    font-size: 40px;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
}
.nosotros{
    text-align: center;
    padding:5% 25%;
    color: #666;
    display: block;
    font-size: 40px;
}